.calendar-list
  display: flex
  .events-group ul li a
    color black
    &:hover
      color black

  li
    ul
      li
        display flex
        flex-direction column
      li a
        flex: 1 0 auto;


.cd-schedule
  .btn-secondary
    border-color transparent
    &:hover
      background none
