/**** global ****/

*
  box-sizing border-box

#app
  min-height 100vh
  padding-bottom 50px

body
  font-size 14px
  line-height 1.2
  background $white
  position inherit
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

a
  text-decoration none !important
  cursor pointer


h1,
h2
  margin 0

h1
  font-size 2em
  font-weight bold
  line-height 1.2

h2
  font-weight normal
  font-size $h2
  line-height 1.2

h3
  font-size $medium
  margin 0
  hyphens auto

ul,
li
  list-style-type none
  margin 0
  padding 0
  hyphens auto

p
  line-height 1.4
  hyphens auto

.bold
  font-weight bold

.small
  font-size $small

.text-black
  color #424242

.text-gray
  color #5a5959

.leading-normal
  line-height 1.5

.wrapper
  padding 0 20px

.relative
  position relative !important

.padding--bottom
  padding-bottom 20px

.padding__right--10
  padding-right 10px

.margin__right--10
  margin-right 10px

.margin__right--20
  margin-right 20px

.margin__left--10
  margin-left 10px

.margin__bottom--10
  margin-bottom 10px

.margin__bottom--20
  margin-bottom 20px

.rotate {
  transition: .3s ease;
  transform: rotate(180deg);
}

.x-center {
  margin: 0 auto;
}

.p0
  padding 0 !important

.mr10-md
  +for_breakpoint(tablet)
    margin-right 10px !important

.mr20-lg
  +for_breakpoint(desktop)
    margin-right 20px !important

.line-height--20
  line-height 20px

.whitespace--nowrap
  white-space nowrap

.align__self--baseline
  align-self baseline

.align__items--start
  align-items flex-start !important

.upper
  text-transform uppercase

.lower
  text-transform none
  margin-right 10px

.capitalized
  text-transform capitalize

.underline
  text-decoration underline

.fr
  float right

.tar
  text-align right

.leading-loose
  line-height 2

.mb-0
  margin-bottom 0

.mt-0
  margin-top 0

.mb-1
  margin-bottom 5px !important

.mb1
  margin-bottom 10px !important

.mb2
  margin-bottom 20px !important

.mr2
  margin-right 20px !important

.ml2
  margin-left 20px

.my-2
  margin 20px 0

.mb60-sm
  margin-bottom 60px !important
  +for_breakpoint(tablet)
    margin-bottom 0 !important

.mb-8
  margin-bottom 40px;

.ml1
  margin-left 10px

.aic
  align-items center

.ac-md
  +for_breakpoint(tablet)
    position absolute
    right 0
    left 0
    margin 0 auto

.o0-sm
  display flex
  order 0

.o1-sm
  display flex
  order 1
  +for_breakpoint(tablet)
    order 0

.pl-1
  padding-left 5px


.o1
  order 1

.fc-sm
  display flex
  flex-direction column
  +for_breakpoint(tablet)
    flex-direction row

.clear
  clear both


.border__bottom--gray
  border-bottom 1px solid $grayLight
  padding-bottom 20px
  margin-bottom 20px

.pointer
  cursor pointer

.space1
  height 5px

.space2
  height 10px

.space3
  height 15px

.space4
  height 20px

.space5
  height 25px

.space6
  height 30px

.space7
  height 35px

.space8
  height 40px

.ptb10
  padding 10px 0

.mt2
  margin-top 20px

.mt-2
  margin-top 10px

.mt-4
  margin-top 20px

.my-4
  margin-top 20px
  margin-bottom 20px

.m0a-sm
  margin 0 auto
  +for_breakpoint(tablet)
    margin 0

.m0a-md
  margin 0 auto
  +for_breakpoint(desktop)
    margin 0

.width--100
  width 100% !important

.width__100--mobile
  width 100%

.text--gray
  color $gray

.text__gray--medium
  color $grayDarkMedium

  input
    color $grayDarkMedium

.text--white
  color $white !important

.block
  display block

.black
  color $black !important

.red
  color $red !important

.sticky
  position sticky
  position -webkit-sticky
  top 0
  z-index 20

.underline
  text-decoration underline !important

.tablet__move--up
  margin-top -70px

.gray--hover
  color darken($grayLight, 20%)
  font-size $small
  cursor pointer
  transition (.3s ease)

  &:hover
    color $black

.absolute
  position absolute

.absolute--right
  position absolute
  right 0
  top 50%
  transform translate(0 -50%)

.align-center
  text-align center

.align-right
  text-align right

.ttu
  text-transform uppercase

.line
  border-bottom 1px solid $grayLight

.line--gray
  border-bottom 1px solid $gray

.min-height--100
  min-height 100vh

.min-height--70
  min-height 70vh

.pb-4
  padding-bottom 20px

.mb-md-0
  +for_breakpoint(tablet)
    margin-bottom 0

.list__space--between
  margin-bottom 20px

.relative-container
  position relative

.flex-wrap
  flex-wrap wrap

.space-between,
.justify-between
  justify-content space-between

.justify-end
  justify-content flex-end

.flex-grow
  flex-grow 1

.items-center
  align-items center

.wrap
  flex-wrap wrap

.fr-md
  display flex
  flex-direction column
  +for_breakpoint(tablet)
    flex-direction row

.fr-lg
  display flex
  flex-direction column
  +for_breakpoint(desktop)
    flex-direction row

.fr-mdw
  display flex
  flex-direction column
  +for_breakpoint(tablet-wide)
    flex-direction row

.flex__row--mobile
  display flex
  flex-direction row
  align-items center

.wrap
  flex-wrap wrap

.space__between--mobile
  justify-content space-between

.flex__fixed--center
  display flex
  flex-direction column
  position fixed
  width 100%
  height 100%
  left 0
  top 40px
  justify-content center
  align-items center

.flex__align-center
  display flex
  align-items center

.flex__row--full
  display flex
  justify-content space-between
  align-items center

.flex__row--standard
  display flex
  align-items center

.flex__top--right
  position absolute
  display flex
  align-items center
  justify-content flex-end
  width 100%
  top 0
  right 10px

  div
    display flex
    align-items center

  span
    margin-left 10px

.tac
  text-align center

.tac-sm
  text-align center
  +for_breakpoint(tablet)
    text-align left

.tac-md
  text-align center
  +for_breakpoint(desktop)
    text-align left

.flex-center
  display flex
  justify-content center

.flex-center-sm
  display flex
  justify-content center
  +for_breakpoint(tablet)
    justify-content flex-start

.flex-column
  display flex
  flex-direction column

.client__logo--small
  width 200px

.classpass__clip--container
  display flex
  flex-direction row
  justify-content space-between

.classpass__clip--inner
  width 50%
  height 18px
  margin 2px
  background $blueHeartcore
  display inline-block

  &.classpass--used
    background $grayLight

.space__between--none
  justify-content flex-start

.circle
  border-radius 50%

.order__mobile--1
  display flex
  order 1

.order__mobile--2
  display flex
  order 2

.profile-image
  width 60px
  height 60px

.profile-img--small
  width 40px
  height 40px

.flex__row--mobile
  display flex
  flex-direction row
  align-items center

.flex--row-tablet
  flex-direction column

.self-start
  align-self flex-start

.flex__align--start
  align-items flex-start

.align__self--start
  align-self start

.checkmark
  width 25px
  height 25px
  border-radius 50%
  display block
  stroke-width 2
  stroke $white
  stroke-miterlimit 10
  box-shadow inset 0px 0px 0px $black
  animation fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both


.checkmark__circle
  stroke-dasharray 166
  stroke-dashoffset 166
  stroke-width 2
  stroke-miterlimit 10
  stroke $black
  fill none
  animation stroke .6s $curve forwards


.checkmark__check
  transform-origin 50% 50%
  stroke-dasharray 48
  stroke-dashoffset 48
  animation stroke .3s $curve .8s forwards

.checkmark-white
  stroke $white
  box-shadow inset 0px 0px 0px $white
  animation .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both

.checkmark__circle-white
  stroke $white
  fill none

.checkmark__check-white
  animation stroke .3s $curve .8s forwards

.hidden-sm
  display none

.hidden-md-down
  display none

.bg-white
  background $white

.px-4
  padding-left 20px
  padding-right 20px

.mb-12
  margin-bottom 60px

.px
  &-2
    padding-left: 10px
    padding-right: 10px
  &-3
    padding-left: 15px
    padding-right: 15px
  &-4
    padding-left: 20px
    padding-right: 20px
  &-5
    padding-left: 25px
    padding-right: 25px
  &-6
    padding-left: 30px
    padding-right: 30px

.py
  &-2
    padding-top: 10px
    padding-bottom: 10px
  &-3
    padding-top: 15px
    padding-bottom: 15px
  &-4
    padding-top: 20px
    padding-bottom: 20px
  &-5
    padding-top: 25px
    padding-bottom: 25px


.p
  &-3
    padding 15px
  &-4
    padding 20px
  &-5
    padding 25px
  &-6
    padding 30px

.mb
  &-2
    margin-bottom: 10px;

+for_breakpoint(tablet-down)
  .pt-sm-0
    padding-top 0 !important


/**** tablet and up ****/

+for_breakpoint(tablet)

  .flex-tablet
    display flex

  .hidden-sm
    display block

  #app
    margin-bottom 0

  .padding__right--20
    padding 0 40px 0 0

  .flex__align-center-tablet
    display flex
    align-items center

  .flex--row-tablet
    flex-direction row

  .flex__row--desktop
    flex-direction row

  .width__50--desktop
    width 48%

  .width__100--mobile
    width auto

  .margin__none--tablet
    margin 0

  .col-md-4
    width 25%

  .mr-md-4
    margin-right 20px

  .mb-btn-align
    margin-bottom 14px

  h1
    font-size $h1

  .tablet--hide
    display none !important

  .flex__grid--thirds
    display flex
    flex-direction row
    justify-content space-between

  .flex__grid--two
    @extend .flex__grid--thirds

  .flex--2-3
    width 66%

  .flex--1-3
    width 32% !important

  .flex__1-3--margin
    width 31%

  .flex__1-2
    position relative
    width 48%

  .flex--row
    display flex
    flex-direction row
    align-items center

  .flex--row-reverse
    display flex
    flex-direction row-reverse

  .flex--row-standard
    display flex
    flex-direction row

  .space--between
    justify-content space-between

  .space--around
    justify-content space-around

  .list__space--between
    display flex
    justify-content space-between
    align-items center
    margin 0

  .align--top
    align-items flex-start

  .flex--start
    align-items flex-start

  .padding--none
    padding 0
    .md-field
      padding 0
      min-height 38px

  .with__item--right
    .wrapper.narrow-wrapper
      width 100%

  .item__side--card
    border 1px solid
    padding 40px 20px

  ul.item__side--card-ul

    li
      line-height 1.4
      display flex
      align-items center

      h3
        line-height 1.5

      span
        color $blueHeartcore

      button
        margin-right 5px !important

/**** tablet and up ****/

+for_breakpoint(tablet)

  .flex--3
    flex 3

  .flex--2
    flex 2

  .flex--1
    flex 1


/**** desktop and up ****/

+for_breakpoint(desktop)

  .with__item--container
    width 900px
    margin 0 auto

  .wrapper
    width 1000px
    margin 0 auto

    &.narrow-wrapper
      width 550px

  .hidden-md-down
    display block

  .fs-lg {
    justify-content: flex-start !important;
  }

/**** desktop big and up ****/

+for_breakpoint(desktop-big)

  .wrapper
    width 1200px

