@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables'
@import 'mixins'
@import 'typography'
@import 'materialized'
@import 'buttons'
@import 'forms'
@import 'global'
@import 'header'
@import 'nav'
@import 'nav-mobile'
@import 'widgets'
@import 'calendar'
@import 'calendar1'
@import 'calendar-external'
@import 'modal'
@import 'cards'
@import 'theme'
@import 'theme2'
@import 'ie'
@import 'terms-and-conditions'
