/**** variables ****/

$black          = #171717
$white          = #FFF
$gray           = #979797
$grayMedium     = #EAEAEA
$grayDarkMedium = rgba(0, 0, 0, 0.54)
$grayLight      = #f4f4f4
/*$blueHeartcore  = #12169c*/
/*$blueYogo       = #01A7C2*/
$blueFacebook   = #4266b2
$red            = #F2495F
$redError       = #ff1744

/**** font sizes ****/

$small      = 12px
$body       = 1em
$medium     = 1.2em
$h1         = 2.4em
$h2         = 1.8em

/**** animation ****/

$curve = cubic-bezier(0.650, 0.000, 0.450, 1.000)

